#所有配置项
PROJECT_PATH=
ENV_PATH=
PYTHON_PATH=
LOG_PATH=
SOCKET_PATH=

ZK_HOST=127.0.0.1:2181
ZK_PRODUCT=
ZK_VERBOSE=0
ZK_SESSION_TIME_OUT=30

RPC_SERVICE_NAME=hello_dear
LB_FRONT_PORT=5600
LB_BACK_ADDRESS=run/rpc_service.sock
LB_IP_PREFIX=
RPC_PROXY_ADDRESS=
WORK_POOL_SIZE=10

UWSGI_PORT=
UWSGI_HARAKIRI=5
UWSGI_WORKER_NUM=2
UWSGI_LISTEN_NUM=128
UWSGI_STATS_SOCKET=run/uwsgi_xx.socket
UWSGI_BUFFER_SIZE=65535
UWSGI_POST_BUFFERING=1
UWSGI_RELOAD_ON_AS=1024
UWSGI_RELOAD_ON_RSS=750

RPC_WORKER_NUMBER=4