PROJECT_PATH=/Users/qinwenchao/workspace/clinic
ENV_PATH=/Users/qinwenchao/workspace/ENV_clinic
PYTHON_PATH=/Users/qinwenchao/workspace/ENV_clinic/bin/python
LOG_PATH=/Users/qinwenchao/workspace/clinic/log
SOCKET_PATH=/Users/qinwenchao/workspace/clinic/run

ZK_HOST=127.0.0.1:2181
ZK_PRODUCT=test

LB_IP_PREFIX=192.
RPC_PROXY_ADDRESS=/usr/local/xx/proxy.sock

UWSGI_PORT=:4001