PROJECT_PATH=/home/xx/workspace/clinic
ENV_PATH=/home/xx/workspace/ENV_clinic
PYTHON_PATH=/home/xx/workspace/ENV_clinic/bin/python
LOG_PATH=/home/xx/workspace/clinic/log
SOCKET_PATH=/home/xx/workspace/clinic/run

ZK_HOST=a1:2181,b1:2181,c1:2181
ZK_PRODUCT=online

LB_FRONT_PORT=5600
LB_IP_PREFIX=10.
RPC_PROXY_ADDRESS=/usr/local/xx/online_xx.sock

UWSGI_PORT=10.*:3630

RPC_WORKER_NUMBER=5