PROJECT_PATH=/home/xx/repo/clinic
ENV_PATH=/home/xx/repo/ENV_clinic
PYTHON_PATH=/home/xx/repo/ENV_clinic/bin/python
LOG_PATH=/home/xx/repo/clinic/log
SOCKET_PATH=/home/xx/repo/clinic/run

ZK_HOST=a1:2181,b1:2181,c1:2181
ZK_PRODUCT=test

LB_IP_PREFIX=10
LB_FRONT_PORT=8600
RPC_PROXY_ADDRESS=/usr/local/xx/xx.sock

UWSGI_PORT=:4002